.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffe4ec;
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 2.5rem;
  color: #d63384;
}

.success {
  font-size: 3rem;
}

.buttons {
  display: flex;
  gap: 24px;
  margin-top: 24px;
  align-items: center;
  position: relative;
}

.btn {
  font-size: 18px;
  padding: 14px 26px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.yes {
  background: #ff4d88;
  color: white;
}

.no {
  background: white;
  border: 2px solid #ff4d88;
  color: #ff4d88;
}
